/* TO DO */
/* Hover state for button */

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
}

h1, h2, h3, .intro-text {
    color: white;
    text-align: center;
    padding: 40px;
}

.game-result, .round-results, .round-number {
    text-align: center;
}

.button-containers {
    display: flex;
    justify-content: space-between;
}

.image-buttons {
    width: 250px;
    height: auto;
}

/* Hover state for buttons */

.round-results, .round-number {
    text-align: center;
    color: white;
}